<h2>Замовлення піци</h2>
<form asp-action="Order" method="post">
    <div>
        <label>Скільки одиниць товару ви бажаєте замовити?</label>
        <input type="number" name="quantity" min="0" required />
    </div>
    <button type="submit">Підтвердити</button>
</form>
